<div class="swiper-slide projects__slide">
	<div class="projects-card">
		<div class="projects-card__image">
			<img src="@@image" alt="Project preview">
		</div>
		<div class="projects-card__text">
			<h3 class="projects-card__title">
				@@title
			</h3>
			<p class="projects-card__description">
				@@text
			</p>
			<a href="@@href" class="arrow-link">
				<span class="arrow-link__icon">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-right">
					</svg>
				</span>
				<span class="arrow-link__text">
					@@text_link
				</span>
			</a>
		</div>
	</div>
</div>